name: first-workflow
on:
  pull_request:
    branches:
      - main

jobs:
  upload-test-artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Save PR number
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          mkdir -p ./pr
          echo $PR_NUMBER > ./pr/pr_number.txt

      - uses: actions/upload-artifact@v6
        with:
          name: validation-reports-metadata
          path: ./pr/pr_number.txt