name: second-workflow
on:
  workflow_run:
    workflows: [ "first-workflow" ]
    types:
      - completed
permissions:
  pull-requests: write

jobs:
  download-test-artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: metadata
          path: /tmp
          run-id: '${{ github.event.workflow_run.id }}'
          repository: '${{ github.repository }}'
          github-token: '${{ secrets.GITHUB_TOKEN }}'

      - name: Verify file
        run: ls /tmp

      - name: Verify dir
        run: ls

      - name: Set PR number output
        id: set_pr_number
        run: echo "pr_number=$(cat /tmp/pr_number.txt)" >> "$GITHUB_OUTPUT"

      - name: Post comment to GitHub
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/${{ github.repository }}/issues/${{ steps.set_pr_number.outputs.pr_number }}/comments \
            -d '{"body":"Your comment text here"}'