name: second-workflow
on:
  workflow_run:
    workflows: [ "first-workflow" ]
    types:
      - completed

jobs:
  download-test-artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: metadata
          path: /tmp
          run-id: '${{ github.event.workflow_run.id }}'
          repository: '${{ github.repository }}'
          github-token: '${{ secrets.GITHUB_TOKEN }}'

      - name: Verify file
        run: ls /tmp

      - name: Verify dir
        run: ls

      - name: Record pr number
        run: cat /tmp/pr_number.txt >>

      - name: Set PR number output
        id: set_pr_number
        run: echo "pr_number=$(cat /tmp/pr_number.txt)" >> "$GITHUB_OUTPUT"

      - name: Post comment to GitHub
        run: |
          gh pr comment ${{ steps.set_pr_number.outputs.pr_number }} --body "Your comment text here"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}